<ion-header>
  <ion-toolbar color="black">
    <ion-title class="header-title">
        <img class="logo" src="..\assets\img\logo.png">
        <span class="header-title-text">{{league_name}}</span>
      </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="top">
  
      <ion-tab-button tab="standings-tab">
        <ion-icon name="football"></ion-icon>
        <ion-label>Standings</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="schedule-tab">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="scores-tab">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Scores</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>
