<ion-header>
  <ion-toolbar color="black">
    <ion-title class="header-title">
      <img class="logo" src="..\assets\img\logo.png">
      <span class="header-title-text">Football APP</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let league of allLeagues?.competitions" routerLink="/league/{{league?.id}}/{{league?.name}}/standings-tab" block routerDirection="root">
    <button>
      <img src="..\assets\img\{{league?.name}}.png"> 
      <span class="league_name">{{league?.name}}</span>
    </button>
  </div>
  

  <div class="bg"></div>

  <br>
  <br>
  <br>
  <br>
  <p>  </p>
</ion-content>



