<ion-header>
  <ion-toolbar color="dark">
    <ion-title>All Leagues</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <button  block>
    <img src="..\assets\img\CL_logo.png">
  </button>

  <button  block>
    <img src="..\assets\img\BL_logo.png">
  </button>

  <button  block>
      <img src="..\assets\img\LN_logo.png">
  </button>
  
  <button  block>
      <img src="..\assets\img\PL_logo.png">
  </button>
  
  <button  block>
    <img src="..\assets\img\ED_logo.png">
  </button>

  <button  block>
    <img src="..\assets\img\L1_logo.png">
  </button>

  <button  block>
    <img src="..\assets\img\SA_logo.png">
  </button>
  
  <button  block>
      <img src="..\assets\img\LA_logo.png">
  </button>
  
  <button  block>
        <img src="..\assets\img\CS_logo.png">
  </button>
    
  <button  block>
        <img src="..\assets\img\SAB_logo.png">
  </button>
    
  <button  block>
      <img src="..\assets\img\WC_logo.png">
   </button>
  
  <button  block>
      <img src="..\assets\img\EU_logo.png">
  </button>
  
</ion-content>



