button {
    margin-top: 2%;
    background-color: transparent;
    margin-right: 1%;
    margin-left: 1%;
  //border: 2px solid lightgray;
  //border-bottom: 10px solid lightgrey;
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 30%;
    
    
    
}

img {
    
    
}       
    