<ion-app>
  <ion-header>
  </ion-header>

  <div class="bg"><ion-router-outlet></ion-router-outlet></div>

  <ion-footer>
      <ion-toolbar>
          <ion-row class="footer">
              <ion-col>
                  <ion-button class="footer-button" expand="block" fill="clear" routerLink="/leagues">
                      <ion-icon slot="icon-only" name="home"></ion-icon>
                  </ion-button>
              </ion-col>
              <ion-col>
                  <ion-button class="footer-button" expand="block"  fill="clear" routerLink="/leagues">
                      <ion-icon slot="icon-only" name="undo"></ion-icon>
                  </ion-button>
              </ion-col>
          </ion-row>
      </ion-toolbar>
    </ion-footer>

</ion-app>
