<ion-header>
  <ion-toolbar>
    <ion-title>Standings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <table class="GeneratedTable" >
    <thead>
      <tr>
        <th>Team</th>
        <th>G</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>GD</th>
        <th>P</th>
      </tr>
    </thead>

    <tbody >

      <tr *ngFor="let team of teams" class="row">
        <td>{{team.team.name}}</td>
        <td>{{team.playedGames}}</td>
        <td>{{team.won}}</td>
        <td>{{team.draw}}</td>
        <td>{{team.lost}}</td>
        <td>{{team.goalDifference}}</td>
        <td>{{team.points}}</td>
      </tr>

    
    </tbody>
  </table>
  
</ion-content>
