.t {
  padding-left: 1%;
}

table.GeneratedTable {
    width: 98%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 70px;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    color: #000000;

  }
  
  table.GeneratedTable td, table.GeneratedTable th {
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    padding: 3px;
  }
  
  table.GeneratedTable thead {
    background-color: #ffffff;
  }
  .row{
      text-align: center;
  }