// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import url('https://fonts.googleapis.com/css?family=Play|Righteous');

p, span, td, th, button, ion-label {
    font-family: 'Play', sans-serif;
    //letter-spacing: -0.5px;   
}


h1, h2, h3, h4, ion-title {
    font-family: 'Righteous', cursive;
}

.header-title {
    color: #ffffff;
    font-size: 130%;
}

.header-title-text {
    position: absolute;
    top: 15px;
    left: 65px;
    text-shadow: 2px 2px 5px #000000;
    color: #ffffff;
}

.logo {
    width: 50px;
    padding-top: 5px;
}
  

.footer, .header {
    background-color: #000000;
}

.footer-button {
    color: #ffffff;
}

.footer-button :active {
    color: #ffffff;
}


ion-content {
    padding-bottom: 200px;
}

ion-router-outlet {
    background-color: #000000;
}

.pointer {
    cursor: pointer;
}

.arrow {
    font-size: 170%;
}