// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.footer, .header {
    background-color: #000000;
}

.header-title {
    color: #ffffff;
}

ion-content {
    padding-bottom: 200px;
}

ion-button {
    text-transform: uppercase;
}

ion-router-outlet {
    background-color: #000000;
}

.pointer {
    cursor: pointer;
}

.arrow {
    font-size: 170%;
}