<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Team {{team_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="team-header">
      <ion-row>
          <ion-col>
            <img src="..\assets\img\testilogo.png">
          </ion-col>
          <ion-col>
            <h2 class="team_title">{{team_name}}</h2>
            <p class="team_title">Some Little info?</p>
          </ion-col>
      </ion-row>
    </ion-grid>

    
      <ion-tab-bar>
    
        <ion-tab-button (click)="scheduleTab()">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="scoresTab()">
          <ion-icon name="clipboard"></ion-icon>
          <ion-label>Scores</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="rosterTab()">
          <ion-icon name="contacts"></ion-icon>
          <ion-label>Roster</ion-label>
        </ion-tab-button>
    
      </ion-tab-bar>
    
    
    <!--SCHEDULE-TAB-->
    <div padding *ngIf=schedule>
      <ion-header>
        <ion-toolbar>
            <ion-title>SCHEDULE</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <h3>SCHEDULE</h3>
      <p>TESTII.</p>
    </div>



    <!--SCORES-TAB-->
    <div padding *ngIf=scores>
        <ion-header>
            <ion-toolbar>
                <ion-title>SCORES</ion-title>
            </ion-toolbar>
        </ion-header>
          
        <h3>Tulokset...</h3>
        <p>Pistepistepiste...</p>
    </div>



    <!--ROSTER-TAB-->
    <div padding *ngIf=roster>
        <ion-header>
            <ion-toolbar>
                <ion-title>ROSTER</ion-title>
            </ion-toolbar>
        </ion-header>
          
        <h3>Pelaajat jne...</h3>
        <p>Pistepistepistepiste...</p>
    </div>


</ion-content>
