ion-content {
    background-color: #e4eae3;
}

ion-tab-button {
    background-color: #e4eae3;
    border-radius: 0px 0px 30px 30px;
    border-bottom: 2px solid #000000;
    border-top: 0.5px solid #ffffff;
    color: #000000;
}

.team-header {
    background-color: #06590f;
    color: #ffffff;
}
.team_title {
    text-align: right;
    margin-top: 0;
    padding-top: 0;
}

.tab-contain {
    padding: 5%;
}