<ion-header>
  <ion-toolbar color="black">
    <ion-title class="header-title">{{team?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="team-header">
      <ion-row>
          <ion-col>
            <h2 class="team_title">{{team?.name}}</h2>
            <a class="team_title" target="_blank" href={{team?.website}}>{{team?.website}}</a>
          </ion-col>
          <ion-col>
            <img class="team_logo" src={{team?.crestUrl}}>
          </ion-col>
      </ion-row>
    </ion-grid>

    
      <ion-tab-bar>
    
        <ion-tab-button (click)="scheduleTab()" [ngStyle]="schedule && {'border-color': '#ffffff', 'border-radius': '0px'}">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="scoresTab()" [ngStyle]="scores && {'border-color': '#ffffff', 'border-radius': '0px'}">
          <ion-icon name="clipboard"></ion-icon>
          <ion-label>Scores</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="rosterTab()" [ngStyle]="roster && {'border-color': '#ffffff', 'border-radius': '0px'}">
          <ion-icon name="contacts"></ion-icon>
          <ion-label>Roster</ion-label>
        </ion-tab-button>
    
      </ion-tab-bar>
    
    
    <!--SCHEDULE-TAB-->
    <div *ngIf=schedule>

      <div class="tab-contain">
        <div class="tab-block">

          <ion-item>
              <ion-label>
                <ion-icon name="calendar"> </ion-icon>
              </ion-label>
              <ion-datetime display-format="MMM DD, YYYY " [(ngModel)]="myDate">
              </ion-datetime>
          </ion-item>

          <ion-grid *ngFor="let match of matches">
            <ion-row class="schedule_row">
              <ion-col>
                <div>
                  {{match?.utcDate.substring(0, 10)}}
                </div>
              </ion-col>
              <ion-col size="4.5">
                <div>
                  {{match?.homeTeam.name}}
                </div>
              </ion-col>
              <ion-col size="4.5">
                <div>
                  {{match?.awayTeam.name}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <p>No eiku se otteluohjelmaaa...{{myDate}}</p>
        </div>
      </div>

    </div>



    <!--SCORES-TAB-->
    <div *ngIf=scores>
        
      <div class="tab-contain">
        <div class="tab-block">
          
          <ion-item>
              <ion-label>
                <ion-icon name="calendar"> </ion-icon>
              </ion-label>
              <ion-datetime display-format="MMM DD, YYYY " [(ngModel)]="myDate">
              </ion-datetime>
          </ion-item>

          <h3>Lukkari...</h3>

          <p>No eiku se otteluohjelma...{{myDate}}</p>
        </div>
      </div>

    </div>



    <!--ROSTER-TAB-->
    <div *ngIf=roster>

        <div class="tab-contain">
            <div class="tab-block">
    
              <h3>Roster</h3>
    
              <div *ngFor="let player of players">
                  <p>{{player.name}}</p>
                  <p>Position: {{player.position}}</p>
              </div>

            </div>
          </div>

    </div>


</ion-content>
