<ion-header>
  <ion-toolbar color="black">
    <ion-title class="header-title">
      Football App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    
    <div class="tab-block">
      
      <h1 padding>Top 3 Leagues</h1>

<!--------------------------------------------------------------------------------------------LEAGUE1-->
<!--------------------------------------------------------------Title-->
      <ion-grid class="top_grid pointer">
        <ion-row (click)="topLeague1()">
          <ion-col>
              <img src="..\assets\img\{{league1}}.png" style="max-height: 70px;">
          </ion-col>
          <ion-col size="10">
              <h3>{{league1}}</h3>
          </ion-col>
        </ion-row>

<!--------------------------------------------------------------Upcoming matches-->
        <ion-buttons *ngIf=top1 start>
          <ion-button>   
              <p class="pointer" (click)="upcoming()">
                <ion-icon class="arrow" *ngIf=upcomingOpen name="arrow-dropdown"></ion-icon>
                <ion-icon class="arrow" *ngIf=!upcomingOpen name="arrow-dropright"></ion-icon>
                Upcoming games
              </p>
          </ion-button>
        </ion-buttons>

        <div *ngFor="let match of matches1">
          <div *ngIf="match?.status=='SCHEDULED' && upcomingOpen && top1">
            <ion-row class="date_row">
              <ion-col>
                <div>
                  {{match?.utcDate.substring(0, 10)}}
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="pointer">
              <ion-col>
                <div routerLink="/team/{{match?.homeTeam?.id}}">
                  {{match?.homeTeam?.name}}
                </div>
              </ion-col>
              <ion-col>
                <div routerLink="/team/{{match?.awayTeam?.id}}">
                  {{match?.awayTeam?.name}}
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-grid>

<!--------------------------------------------------------------Scores/Played matches-->
      <ion-grid class="bottom_grid">
        <ion-buttons *ngIf=top1 start>
          <ion-button>   
              <p class="pointer" (click)="scores()">
                <ion-icon class="arrow" *ngIf=scoresOpen name="arrow-dropdown"></ion-icon>
                <ion-icon class="arrow" *ngIf=!scoresOpen name="arrow-dropright"></ion-icon>
                Scores
              </p>
          </ion-button>
        </ion-buttons>

  
        <div *ngFor="let match of matches1">
            <div *ngIf="match?.status=='FINISHED' && scoresOpen && top1">
              <ion-row class="date_row">
                <ion-col>
                  <div>
                    {{match?.utcDate.substring(0, 10)}}
                  </div>
                </ion-col>
              </ion-row>
              <ion-row class="pointer">
                <ion-col>
                  <div routerLink="/team/{{match?.homeTeam?.id}}">
                    {{match?.homeTeam?.name}}
                  </div>
                </ion-col>
                <ion-col>
                  <div routerLink="/team/{{match?.awayTeam?.id}}">
                    {{match?.awayTeam?.name}}
                  </div>
                </ion-col>
                <ion-col>
                    <div>
                      {{match?.score?.fullTime?.homeTeam}} - {{match?.score?.fullTime?.awayTeam}}
                    </div>
                  </ion-col>
              </ion-row>
            </div>
          </div>
      </ion-grid>


<!--------------------------------------------------------------------------------------------LEAGUE2-->
<!--------------------------------------------------------------Title-->
      <ion-grid class="top_grid pointer">
          <ion-row (click)="topLeague2()">
            <ion-col>
                <img src="..\assets\img\{{league2}}.png" style="max-height: 70px;">
            </ion-col>
            <ion-col size="10">
                <h3>{{league2}}</h3>
            </ion-col>
          </ion-row>

<!--------------------------------------------------------------Upcoming matches-->
          <ion-buttons *ngIf=top2 start>
            <ion-button>   
                <p class="pointer" (click)="upcoming()">
                  <ion-icon class="arrow" *ngIf=upcomingOpen name="arrow-dropdown"></ion-icon>
                  <ion-icon class="arrow" *ngIf=!upcomingOpen name="arrow-dropright"></ion-icon>
                  Upcoming games
                </p>
            </ion-button>
          </ion-buttons>

          <div *ngFor="let match of matches2">
            <div *ngIf="match?.status=='SCHEDULED' && upcomingOpen && top2">
              <ion-row class="date_row">
                <ion-col>
                  <div>
                    {{match?.utcDate.substring(0, 10)}}
                  </div>
                </ion-col>
              </ion-row>
              <ion-row class="pointer">
                <ion-col>
                  <div routerLink="/team/{{match?.homeTeam?.id}}">
                    {{match?.homeTeam?.name}}
                  </div>
                </ion-col>
                <ion-col>
                  <div routerLink="/team/{{match?.awayTeam?.id}}">
                    {{match?.awayTeam?.name}}
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-grid>

<!--------------------------------------------------------------Scores/Played matches-->
        <ion-grid class="bottom_grid">
          <ion-buttons *ngIf=top2 start>
            <ion-button>   
                <p class="pointer" (click)="scores()">
                  <ion-icon class="arrow" *ngIf=scoresOpen name="arrow-dropdown"></ion-icon>
                  <ion-icon class="arrow" *ngIf=!scoresOpen name="arrow-dropright"></ion-icon>
                  Scores
                </p>
            </ion-button>
          </ion-buttons>


          <div *ngFor="let match of matches2">
              <div *ngIf="match?.status=='FINISHED' && scoresOpen && top2">
                <ion-row class="date_row">
                  <ion-col>
                    <div>
                      {{match?.utcDate.substring(0, 10)}}
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="pointer">
                  <ion-col>
                    <div routerLink="/team/{{match?.homeTeam?.id}}">
                      {{match?.homeTeam?.name}}
                    </div>
                  </ion-col>
                  <ion-col>
                    <div routerLink="/team/{{match?.awayTeam?.id}}">
                      {{match?.awayTeam?.name}}
                    </div>
                  </ion-col>
                  <ion-col>
                      <div>
                        {{match?.score?.fullTime?.homeTeam}} - {{match?.score?.fullTime?.awayTeam}}
                      </div>
                    </ion-col>
                </ion-row>
              </div>
            </div>
        </ion-grid>

<!--------------------------------------------------------------------------------------------LEAGUE3-->
<!--------------------------------------------------------------Title-->
        <ion-grid class="top_grid pointer">
            <ion-row (click)="topLeague3()">
              <ion-col>
                  <img src="..\assets\img\{{league3}}.png" style="max-height: 70px;">
              </ion-col>
              <ion-col size="10">
                  <h3>{{league3}}</h3>
              </ion-col>
            </ion-row>

<!--------------------------------------------------------------Upcoming matches-->
            <ion-buttons *ngIf=top3 start>
              <ion-button>   
                  <p class="pointer" (click)="upcoming()">
                    <ion-icon class="arrow" *ngIf=upcomingOpen name="arrow-dropdown"></ion-icon>
                    <ion-icon class="arrow" *ngIf=!upcomingOpen name="arrow-dropright"></ion-icon>
                    Upcoming games
                  </p>
              </ion-button>
            </ion-buttons>

            <div *ngFor="let match of matches3">
              <div *ngIf="match?.status=='SCHEDULED' && upcomingOpen && top3">
                <ion-row class="date_row">
                  <ion-col>
                    <div>
                      {{match?.utcDate.substring(0, 10)}}
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="pointer">
                  <ion-col>
                    <div routerLink="/team/{{match?.homeTeam?.id}}">
                      {{match?.homeTeam?.name}}
                    </div>
                  </ion-col>
                  <ion-col>
                    <div routerLink="/team/{{match?.awayTeam?.id}}">
                      {{match?.awayTeam?.name}}
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-grid>

        <!--------------------------------------------------------------Scores/Played matches-->
          <ion-grid class="bottom_grid">
            <ion-buttons *ngIf=top3 start>
              <ion-button>   
                  <p class="pointer" (click)="scores()">
                    <ion-icon class="arrow" *ngIf=scoresOpen name="arrow-dropdown"></ion-icon>
                    <ion-icon class="arrow" *ngIf=!scoresOpen name="arrow-dropright"></ion-icon>
                    Scores
                  </p>
              </ion-button>
            </ion-buttons>


            <div *ngFor="let match of matches3">
                <div *ngIf="match?.status=='FINISHED' && scoresOpen && top3">
                  <ion-row class="date_row">
                    <ion-col>
                      <div>
                        {{match?.utcDate.substring(0, 10)}}
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row class="pointer">
                    <ion-col>
                      <div routerLink="/team/{{match?.homeTeam?.id}}">
                        {{match?.homeTeam?.name}}
                      </div>
                    </ion-col>
                    <ion-col>
                      <div routerLink="/team/{{match?.awayTeam?.id}}">
                        {{match?.awayTeam?.name}}
                      </div>
                    </ion-col>
                    <ion-col>
                        <div>
                          {{match?.score?.fullTime?.homeTeam}} - {{match?.score?.fullTime?.awayTeam}}
                        </div>
                      </ion-col>
                  </ion-row>
                </div>
              </div>
          </ion-grid>


    </div>
  </div>

</ion-content>
