ion-toolbar {
    border-bottom: #ffffff 2px solid;
}

.content {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url('/../assets/img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    //padding-bottom: 100px;
}

.tab-block {
    background-color: #ffffff;
    position: absolute;
    top: 2%;
    left: 2%;
    width:96%;
    height: cover;
    opacity: 0.88;
    padding-bottom: 100px;  
}


.top_grid {
    border-top: #000000 solid 2px;
}

.pad_row {
    padding-left: 20px;
    background-color: #ffffff;
}


.pad30_row {
    padding-left: 30px;
    background-color: #ffffff;
}

.date_row {
    background-color: #000000;
    color: #ffffff;
    margin-top: 20px;
}

h1 {
    background-color: #000000;
    color: #ffffff;
    text-shadow: 2px 0px 2px #000000;
    background-image: url('/../assets/img/grass.jpg');
    background-size: cover;
    min-height: 100px;
    margin: 0;
}