<ion-header>
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-list lines="none">
          <ion-item  *ngFor="let team of team1s">
            <ion-label class="cols">{{team}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col>
        <ion-list lines="none">
          <ion-item *ngFor="let team of team2s">
            <ion-label class="cols">{{team}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col>
        <ion-list lines="none">
          <ion-item *ngFor="let score of scores" class="item">
            <ion-label class="cols">{{score}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
